[worldserver]
########################################
# STAT BOOSTER 配置
########################################
# 
#	StatBooster.Enable
#		描述：启用/禁用模块。
#		默认值：	0 - (禁用)
#					1 - (启用)
#

StatBooster.Enable = 1

#
#	StatBooster.VerboseEnable
#		描述：在聊天和服务器控制台中启用调试消息。
#		默认值：	0 - (禁用)
#					1 - (启用)
#		注意：只有在调试时才启用此设置，因为在运行消耗大的钩子时，此设置会影响性能。
#

StatBooster.VerboseEnable = 0

########################################

########################################
#
#	StatBooster.OnLoginEnable
#		描述：启用/禁用登录时显示的聊天消息。
#					0 - (禁用)
#		默认值：	1 - (启用)
#		注意：这个公告只对玩家显示。
#

StatBooster.OnLoginEnable = 0

#
#	StatBooster.OnLoginMessage
#		描述：登录时要显示的聊天消息。
#

StatBooster.OnLoginMessage = "此服务器正在运行StatBooster模块。"

########################################

########################################
#
#	StatBooster.OnLootItemEnable
#		描述：启用/禁用从战利品中接收增强物品。
#					0 - (禁用)
#		默认值：	1 - (启用)
#

StatBooster.OnLootItemEnable = 1

#
#	StatBooster.OnQuestRewardItemEnable
#		描述：启用/禁用从任务奖励中接收增强物品。
#					0 - (禁用)
#		默认值：	1 - (启用)
#

StatBooster.OnQuestRewardItemEnable = 1

#
#	StatBooster.OnCraftItemEnable
#		描述：启用/禁用从制作中接收增强物品。
#					0 - (禁用)
#		默认值：	1 - (启用)
#

StatBooster.OnCraftItemEnable = 1

#
#	StatBooster.LootItemChance
#		描述：从战利品中接收增强物品的百分比机会。
#		默认值：	100
#		范围：		0-100
#

StatBooster.LootItemChance = 100

#
#	StatBooster.QuestRewardChance
#		描述：从任务奖励中接收增强物品的百分比机会。
#		默认值：	100
#		范围：		0-100
#

StatBooster.QuestRewardChance = 100

#
#	StatBooster.CraftItemChance
#		描述：从制作中接收增强物品的百分比机会。
#		默认值：	100
#		范围：		0-100
#

StatBooster.CraftItemChance = 100

########################################

########################################
#
#	StatBooster.MinQuality
#		描述：考虑增强物品之前的最低质量。
#					0 - (垃圾)
#					1 - (普通)
#		默认值：	2 - (不常见)
#					3 - (稀有)
#					4 - (史诗)
#					5 - (传说)
#

StatBooster.MinQuality = 2

#
#	StatBooster.MaxQuality
#		描述：考虑增强物品之前的最高质量。
#					0 - (垃圾)
#					1 - (普通)
#					2 - (不常见)
#					3 - (稀有)
#		默认值：	4 - (史诗)
#					5 - (传说)
#

StatBooster.MaxQuality = 4

########################################

########################################
#
#	StatBooster.PlaySoundEnable
#		描述：启用/禁用接收增强物品时播放声音。
#					0 - (禁用)
#		默认值：	1 - (启用)
#

StatBooster.PlaySoundEnable = 1

#
#	StatBooster.SoundId
#		描述：接收增强物品时播放的声音id。
#		默认值：	120 - (LOOTWINDOWCOINSOUND)
#		注意：你可以在https://wotlkdb.com/?sounds找到声音id，其中url中的数字就是id。
#

StatBooster.SoundId = 120


########################################

########################################
#
#	StatBooster.SoulbindOnEnchantRoll
#		描述：启用/禁用通过滚动赢得的附魔物品的绑定。
#		默认值：	0 - (禁用)
#		            1 - (启用)
#

StatBooster.SoulbindOnEnchantRoll = 0

#
#	StatBooster.SoulbindOnEnchantLoot
#		描述：启用/禁用掠夺的附魔物品的绑定
#		默认值：	0 - (禁用)
#		            1 - (启用)
#

StatBooster.SoulbindOnEnchantLoot = 0

#
#	StatBooster.SoulbindOnEnchantQuest
#		描述：启用/禁用从任务中接收的附魔物品的绑定
#		默认值：	0 - (禁用)
#		            1 - (启用)
#

StatBooster.SoulbindOnEnchantQuest = 0

#
#	StatBooster.SoulbindOnEnchantCraft
#		描述：启用/禁用制作的附魔物品的绑定
#		默认值：	0 - (禁用)
#		            1 - (启用)
#

StatBooster.SoulbindOnEnchantCraft = 0

########################################

########################################
#
#	StatBooster.AnnounceBoostEnable
#		描述：启用/禁用接收增强物品时的公告。
#					0 - (禁用)
#		默认值：	1 - (启用)
#		注意：这个公告只对玩家显示。
#

StatBooster.AnnounceBoostEnable = 1

#
#	StatBooster.AnnounceLoot
#		描述：掠夺增强物品时要显示的聊天消息。
#

StatBooster.AnnounceLoot = "你掠夺了一个增强物品。"

#
#	StatBooster.AnnounceQuest
#		描述：从任务中接收增强物品时要显示的聊天消息。
#

StatBooster.AnnounceQuest = "你收到了一个增强物品。"

#
#	StatBooster.AnnounceCraft
#		描述：制作增强物品时要显示的聊天消息。
#

StatBooster.AnnounceCraft = "你制作了一个增强物品。"

########################################

########################################
#
#	StatBooster.OverwriteEnchantEnable
#		描述：启用/禁用在增强物品时覆盖当前的附魔。
#					0 - (禁用)
#		默认值：	1 - (启用)
#		注意：	此模块上的附魔使用'BONUS_ENCHANTMENT_SLOT'来实现其奖励状态。
#				如果物品已经填充了这个插槽，保持此选项启用将覆盖这个插槽。
#				当用增强状态镶嵌物品时，有可能会失去物品上的附魔。
#

StatBooster.OverwriteEnchantEnable = 1

########################################
